<h2>Dashboard here</h2>

<div class="containerContent">
  <div>
    <p-chart
      class="p-chart"
      type="bar"
      [data]="data"
      [options]="options"
    ></p-chart>

    <p-chart
      class="p-chart"
      type="pie"
      [data]="data"
      [options]="options"
    ></p-chart>

    <p-chart
      class="p-chart"
      type="doughnut"
      [data]="data"
      [options]="options"
    ></p-chart>

    <p-chart
      class="p-chart"
      type="bar"
      [data]="data"
      [options]="options"
    ></p-chart>

    <p-chart
      class="p-chart"
      type="doughnut"
      [data]="data"
      [options]="options"
    ></p-chart>

    <p-chart
      class="p-chart"
      type="radar"
      [data]="data"
      [options]="options"
    ></p-chart>

    <p-chart
      class="p-chart"
      type="line"
      [data]="data"
      [options]="options"
    ></p-chart>

    <p-chart
      class="p-chart"
      type="line"
      [data]="data"
      ariaLabbel="Data"
    ></p-chart>


  </div>
</div>
