<div class="grid">

  <div class="col-12 flex justify-content-center align-items-center text-align-center">
    <!-- Login -->
    <form *ngIf="loginCard">
      <p-card
        styleClass="mt-10"
        header="Login"
        subheader="Faça login com sua conta existente!">

        <div class="flex justify-content-center align-items-center text-align-center">
          <input type="email" placeholder="E-mail" pInputText />
        </div>
        <div class="flex justify-content-center align-items-center text-align-center mt-3">
          <input type="password" placeholder="Senha" pInputText />
        </div>
        <div class="card flex justify-content-center mt-3">

          <button
          type="submit"
          pButton
          pRipple>Login</button>
        </div>
        <span
          class="flex justify-content-center align-items-center text-align-center mt-3 text-red-600 font-semibold cursor-pointer "
          (click)="loginCard = !loginCard">
          Criar Conta
        </span>
      </p-card>
    </form>

    <!-- Signup -->
    <form *ngIf="!loginCard">
      <p-card
        styleClass="mt-10"
        header="Criar conta"
        subheader="Crie já sua conta gratuita!">

        <div class="flex justify-content-center align-items-center text-align-center">
          <input type="text" placeholder="Nome" pInputText />
        </div>
        <div class="flex justify-content-center align-items-center text-align-center mt-3">
          <input type="email" placeholder="E-mail" pInputText />
        </div>
        <div class="flex justify-content-center align-items-center text-align-center mt-3">
          <input type="password" placeholder="Senha" pInputText />
        </div>
        <div class="flex justify-content-center align-items-center text-align-center mt-3">
          <input type="password" placeholder="Confirmar Senha" pInputText />
        </div>
        <div class="card flex justify-content-center mt-3">

          <button
          type="submit"
          pButton
          pRipple>Criar conta</button>
        </div>
        <span
          class="flex justify-content-center align-items-center text-align-center mt-3 text-red-600 font-semibold cursor-pointer "
          (click)="loginCard = !loginCard">
          Fazer login
        </span>
      </p-card>
    </form>
  </div>

</div>
