.grid {
  background-image: url('../../../assets/images/fundoLogin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  padding: 20px 0;
  width: 100vw;
  height: 100vh;

  @media (min-width: 1400px) {
    background-position: top;
  }
}
